/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-heading {
  color: #000;
  font-size: 40px;
  font-family: roboto;
  text-align: center;
  font-weight: 700;
  margin: 48px 0px 32px 15px;
}

.search-input-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding: 8px 16px;
  margin-left: 25%;
}

.search-input {
  color: #0f172a;
  background-color: #f1f5f9;
  font-size: 14px;
  font-weight: 600;
  font-family: open sans;
  outline: none;
  border: none;
}

.search-icon {
  height: 20px;
  width: 20px;
}

.destinations-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .destination-search-container {
    align-items: flex-start;
  }

  .heading {
    margin-top: 96px;
  }

  .destinations-list {
    justify-content: flex-start;
  }
}
